/*body formating*/
body{
    
    margin: auto;
    max-width: 800px;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #ffffff;
      
}


.pagetitle a{

    float:left;
    font-size:45px;
    text-decoration: none;
    color: rgb(0, 0, 0);

}


/*format of a paragraph*/
.formatp{
    font-size: 14.5pt;
    line-height: 2;
    letter-spacing: .06rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Page heading format*/
.pghead{
    line-height: 1.5;
    font-size: xx-large;
    color: rgb(139, 33, 67);
    color: rgb(73,37,129);
    font-family: Consolas,monaco,monospace;
}

.head3{
    line-height: 1.5;
    font-size: x-large;
    color: rgb(139, 33, 67);
    color: rgb(73,37,129);
    font-family: Consolas,monaco,monospace;
}

/*website name format*/
.webname a:hover {
    color: gray;
}

/*navigation bar setup*/
.navigation a{
    text-decoration: none;
    /*color: rgb(139, 33, 67);*/
    color: rgb(73,37,129);
    font-family: Consolas,monaco,monospace;
    font-size: larger;
}

.navigation a:hover{
    color: gray;
}

.navigation ul li{
    width: 150px;
    list-style-type: none;
    text-align: center;
    float:right;
}


/*link styling*/
.linkstyle {
    text-decoration: none;
    color:rgb(146, 41, 74);
    color: rgb(73,37,129);

}
a:hover{
    color: gray;
}

.linkstyle-topics {
  
    line-height: 50px;
    text-decoration: underline;
    color:rgb(146, 41, 74);
    color: rgb(73,37,129);
    font-family: Consolas,monaco,monospace;
    letter-spacing: .06rem;
    font-size: 28;
}



/*h3 headingstyle*/
.h3style{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    line-height: 50px;

}



/*contact form setup and styling*/
.contact-form {
    color: rgb(0, 0, 0);
    font-family: Consolas,monaco,monospace; 
}

/*normal link styling*/
.nlink{
    color:rgb(146, 41, 74);
    color: rgb(73,37,129);
    font-family: Consolas,monaco,monospace;
    letter-spacing: 2px;
    font-size: 22px;
    line-height: 47px;
}

/*styling for genre type*/
.genre{
    color:rgb(146, 41, 74);
    color: rgb(73,37,129);
    font-family: Consolas,monaco,monospace;
    letter-spacing: 2px;
    font-size: 26px;
    line-height: 47px;
}
.genre a:hover{
    color: gray;
}




/*if you need to write down something below a picture*/
figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: larger;
    line-height: 47px;
    font-style: italic;
    padding: 2px;
    text-align: center;
}
/* Medium screens (577px to 768px width) */

/*if you need to conjecture then use it anudeep*/
.claimbox {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 1em;
    line-height: 35px;
    padding: 20px;
    border-left: 2.5px solid rgb(73,37,129);
    color: rgb(73,37,129);
    background-color: rgb(239, 229, 255);
    margin: 0;
}

@media only screen and (max-width: 480px){
    body{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    }

    navigation ul li{
        white-space: pre;
        width: 100px;
        list-style-type: none;
        text-align: center;
        float:right;
    }


}

@media only screen and (max-width: 950px){
    body{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    }

    navigation ul li{
        white-space: pre;
        width: 100px;
        list-style-type: none;
        text-align: center;
        float:right;
    }


}


.genre-tag {
    font-family: Consolas,monaco,monospace;
    display: flex;
    align-items: baseline;
    align-content: flex-start;
    flex-wrap: wrap;
    
}

.genre-tag ul {
    display: contents;  
  }


.genre-tag ul li {
    list-style-type:none;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: rgb(239, 229, 255);
    border-radius: 10px;
    white-space: nowrap;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }





